<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter un professeur</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 font-sans antialiased">
    <div class="flex min-h-screen">
      <!-- Sidebar -->
      <aside class="w-64 bg-gray-800 text-white flex flex-col justify-between">
        <div class="p-6">
          <h2 class="text-3xl font-semibold text-center mb-8">Mon Etab</h2>
          <nav>
            <ul>
              <li class="mb-4">
                <a href="{% url 'dashboard:index' %}" class="hover:text-gray-400">Tableau de bord</a>
              </li>
              <li class="mb-4">
                <a
                  href="{% url 'student:index' %}"
                  class="text-blue-400 hover:text-blue-500 font-medium"
                  >Élèves</a
                >
              </li>
              <li class="mb-4">
                <a href="{% url 'teacher:index' %}" class="hover:text-gray-400">Professeurs</a>
              </li>
              <li class="mb-4">
                <a href="{% url 'user:index' %}" class="hover:text-gray-400">Utilisateurs</a>
              </li>
              <li class="mb-4">
                <a href="{% url 'rapport:index' %}" class="hover:text-gray-400">Rapport</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="p-6">
          <a
            href="#"
            class="text-gray-400 hover:text-white flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M7 10V4a3 3 0 016 0v6a3 3 0 11-6 0z"
                clip-rule="evenodd"
              />
              <path
                fill-rule="evenodd"
                d="M5 9a2 2 0 100-4 2 2 0 000 4zm10-2a2 2 0 110 4 2 2 0 010-4zm-2 8v2a3 3 0 01-6 0v-2a2 2 0 11-4 0v2a5 5 0 0010 0v-2a2 2 0 11-4 0z"
                clip-rule="evenodd"
              />
            </svg>
            Déconnexion
          </a>
        </div>
      </aside>

      <!-- Main Content -->
      <div class="flex-1 p-6">
        
        <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-lg">
          <h1 class="text-2xl font-semibold mb-6 text-center">
            Rapport
          </h1>
          <form action="#" method="POST" class="grid grid-cols-2 gap-6">
            <!-- Champ Nom -->
            
            <div>
              
              <select
                id="classe"
                name="classe"
                class="mt-1 block w-full p-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              >
                <option value="Listes_des_eleves">Listes des élèves</option>
                <option value="Listes_des_professeurs">Listes des professeus</option>
                <option value="Listes_des_utilisateur">Listes des utilisateurs</option>
              </select>
            </div>
            <!-- Boutons -->
            <div class="col-span-2 flex justify-center space-x-4">
              <button
                type="reset"
                class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
              >
                Générer format PDF
              </button>
              <button
                type="submit"
                class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
              >
                Générer format Excel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
